.chat-item {
  width: 50%;
}
.your-message {
  background: #009bff;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  float: right;
}

.other-people {
  background: #868686;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  text-align: left;
  float: left;
}

.box-chat_message {
  min-height: 40vh;  
  max-height: 40vh;  
  overflow-y: auto;
  
}
.box-chat {
  width:70%;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 0 black;
  border-radius: 1em;
}